<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="row w-100 align-items-center g-lg-2 g-0">
      <div class="col-4">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/images/logo/logo-crop-resize.svg" width="88" height="24" alt="airweb ecommerce logo">
        </a>
      </div>
      <div class="col-4">
        <form class="d-flex" class="d-none d-lg-block">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher un produit"
              aria-label="rechercher un produit" aria-describedby="button-search">
            <button class="btn btn-outline-secondary" type="button" id="button-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </div>
        </form>
        <div class="d-lg-none d-md-block text-center">
          <button type="button" class="btn btn-outline-primary" (click)="searchMobileInput = !searchMobileInput"
            *ngIf="!searchMobileInput">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="searchMobileInput = !searchMobileInput"
            *ngIf="searchMobileInput">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-4 text-end">
        <div class="list-inline">
          <div class="list-inline-item me-3">
            <a class="text-muted position-relative " routerLink="/checkout/cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <span
                class="position-absolute top-100 start-100 translate-middle badge border border-light rounded-pill bg-primary">
                {{cartDetail.products.length}}
                <span class="visually-hidden">nombre produit dans le panier</span>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="searchMobileInput">
        <hr />
        <form class="d-flex" class="d-lg-none">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher un produit"
              aria-label="rechercher un produit" aria-describedby="button-search">
            <button class="btn btn-outline-secondary" type="button" id="button-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>