.price{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-bg: #0d6efd;
    --bs-btn-color: #fff;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border-radius: var(--bs-btn-border-radius);
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
}


.top-card-price{
    text-align: center!important;
    border-bottom-left-radius: 0.5rem;
    
     color: white;
}

.product-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}
